{% include "header.html" %}

  <!-- Page Header -->
  {% set background_image = url_for('static', filename='img/yone.jpg') %}
  <header class="masthead" style="background-image: url('{{ background_image }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello Friends, Welcome To The Kilan's TFT Blog. Today We Came With Some Special Information That Is Gaming Bio For Experience. Here Are The Best News For Gamers & TFT Bio For Game Lovers.</p>
        <p> You Can Also Copy And Paste This Information Bio On Facebook, Twitter And Other Social Media.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}